mixin image(data)
  - data = data || {}
  - srcset = data.srcset
  -
    if (typeof data.srcset === 'object') {
      srcset = []
      for (key in data.srcset) {
        srcset.push(`${data.srcset[key]} ${key}`)
      }
      srcset = srcset.join(',')
    };
  img(
    class=data.class || ''
    src=data.src
    srcset=srcset
    alt=data.alt || data.title || ''
    title=data.title
  )&attributes(data.attributes)
